* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Assistant", sans-serif;
}
img {
  max-width: 100%;
}
header {
  height: 75vh;
  background-color: brown;
  background: url("./images/pexels-ekaterina-belinskaya-4700613.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(112, 83, 83);
  background-blend-mode: overlay;
  position: relative;
}
header nav {
  display: grid;
  grid-template-columns: auto 100px;
  background-color: #f0135b !important;
  z-index: 999;
  padding: 2rem;
  position: fixed;
  width: 100%;
}

header nav .nav-content #navlink {
  position: fixed;
  right: -30rem;
  top:0;
  transition: 0.3s;
  width: 50vw;
  background-color: #625ba9;
  padding: 1rem;
}
header nav .nav-content #navlink div {
  color: white;
  text-transform: uppercase;
  padding: 1rem;
  cursor: pointer;
}
header nav .logo img {
  max-width: 100%;
  height: 150px;
  position: fixed;
  top: -60;
  left: -55;
}

header nav .nav-content .fa-bars {
  font-size: 1.5rem;
  margin-top: -0.5rem;
  position: fixed;
  right: 30;
  color: #ffffff;
  cursor: pointer;
}
header .hero {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
header .hero h1 {
  font-size: 2.5rem;
  font-family: "Sansita Swashed", cursive;
}
header .hero span#name {
  color: #625ba9;
}
header .hero span {
  color: #f0135b;
}

section#about,
section#services,footer {
  padding: 3rem 2rem;
  display: grid;
}
section#about {
  background-color: #ecd6dd;
}
section#about img {
  margin-top: 0.9rem;
  max-width: 100%;
  height: 300px;
}
section#about h2 {
  color: #625ba9;
}
section#about h1 {
  font-size: 3rem;
  font-weight: 200;
}
section#about hr {
  margin: 1.5rem 0;
  width: 200px;
}
section#services {
  background-color: #e2e1f1;
  text-align: center;
}
section#services img {
  height: 100px;
}
section#services .info {
  margin-top: 1.5rem;
}
section#services div {
  margin-top: 1.5rem;
}
section#services .info p {
  margin-top: 0.5rem;
}
section#process {
  display: grid;
  text-align: center;
}
section#process .processbg {
  background-color: brown;
  background: url("./images/front-view-pile-laundry_23-2148387001.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0;
}
footer {
  background-color: #625ba9;
  color : #FFFFFF;
  text-transform: capitalize;
}
footer p{
  padding: 0.5rem 0;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99999;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;

}
.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.instagram {
  background: #dd4b39;
  color: white;
}
@media (min-width: 992px) {
  header {
    height: 100vh;
  }
  header nav {
    grid-template-columns: auto 400px;
    padding: 1.3rem;
  }
  header nav .nav-content #navlink {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    position: static;
    margin-top: 3%;
    margin-right: 30px;
    background-color: transparent;
    width: 100%;
    padding: 0;
  }
  header nav .nav-content #navlink div {
    padding: 0;
  }
  header nav .logo img {
    top: -50;
    left: -20;
  }
  header nav .nav-content .fa,
  header nav .nav-content #navlink div button {
    display: none;
  }
  header .hero h1 {
    font-size: 4rem;
  }
  section#about,
  section#services,footer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: space-around;
    padding:  3rem;
  }
  section#services {
    padding: 5rem 3rem;
  }
  section#services img {
    height: 200px;
  }
  section#about .aboutText {
    margin-top: 3rem;
  }
  section#process {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  footer .contact , footer .hours{
    margin-left: 3rem;
  }
}
